<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body {
      display: flex;
      font-family: system-ui;
      background: #f06d06;
      color: white;
      height: 100vh;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  </style>

</head>

<body>
  <h1>👋 Our side is still in progress.</h1>
</body>

</html>