<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>hello hidshfakjdhsfkjhakn</h1>
  <form action="/logout" method="get" style="display:inline;">
    <button type="submit" class="btn btn-danger">Logout</button>
  </form>

</body>

</html>